

.iimg1{
    background-image: url('../images/IndustryExpertise/men3.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
    
  }

.iimg2{
    background-image: url('../images/IndustryExpertise/family1.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
    
  }

.iimg3{
    background-image: url('../images/IndustryExpertise/kid4.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;

}
  
.iimg4{
     background-image: url('../images/IndustryExpertise/ladies2.jpg');
    border-radius: 3px;
    margin-left:  50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}
  
.iimg5{
    background-image: url('../images/IndustryExpertise/babytoy1.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}

 
.iimg6{
    background-image: url('../images/IndustryExpertise/shoe3.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}

 
.iimg7{
    background-image: url('../images/IndustryExpertise/Luggage1.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}

.iimg8{
    background-image: url('../images/IndustryExpertise/ethinic3.jpg');
    border-radius: 3px;
    margin-left:  50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}

.iimg9{
    background-image: url('../images/IndustryExpertise/mobile7.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}

.iimg10{
    background-image: url('../images/IndustryExpertise/stationary2.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}

.iimg11{
    background-image: url('../images/IndustryExpertise/sport1.jpg');
    border-radius: 3px;
    margin-left: 50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}

.iimg12{
    background-image: url('../images/IndustryExpertise/home1.jpg');
    border-radius: 3px;
    margin-left:  50px;
    background-size: 100% 100%;
    width: 90%;
    height: 400px;
}
