.abtbgclr{
    background-color: lightblue;
    border-radius: 5px;
    height: auto;
    margin: 1rem 0rem;
    text-align: justify;
    
  font-family: 'Roboto Slab', serif;
   
}
.abtbgclr p{
  font-size: 20px;
}

.aiconH{
    color: gold;
    margin-left: auto;
    margin-top: 1rem !important;
    margin-bottom: 1rem;
  }
  .aiconH:hover {
    color: red;
  }

  .fa-handshake-o{
    margin-left: 6rem;
  }

  
  .fa-comment{
    margin-left: 6rem;
  }

  
  .fa-cogs{
    margin-left: 6rem;
  }